* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    letter-spacing: 1px;
}

html {
    scroll-behavior: smooth;
}

a,
button,
input,
input[type="submit"] {
    transition: all 0.3s;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 5rem;
    background-color: #e9a6c5;
    color: antiquewhite;
}

li {
    list-style: none;
    display: inline-block;
    margin: 0 1rem;

}

nav a {
    text-decoration: none;
    border: 1px solid #df6da3;
    padding: 0.5rem 1rem;
    box-shadow: 1px 1px#d90368;
    font-weight: 500;
    color: rgb(255, 255, 255);

}

#menu {
    display: none;
}

main {
    min-height: 60vh;
    margin: 1rem 0rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.hero {
    height: 30vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}



.search {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    background-color: #df6da3;
    padding: 1rem;
    gap: 1rem;
    width: 100%;
    margin: 1rem 0rem;
    border-radius: 1rem;
    box-shadow: 3px 3px;
}

.search ul {
    display: inline-block;
    flex-grow:1;
}

.search label {
    padding: 0.1rem;
}



input[type="text"] {
    text-indent: 1rem;
    border-radius: 0.5rem;
    border: none;
    flex-grow:2;

}

.cards {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 1rem;
}

.Card {
    position: relative;
    border-radius: 1rem;
    box-shadow: -2px -2px 4px #d65f96;
    padding: 1rem;
    max-width: 18rem;
    padding-bottom: 2rem;
}

.Card h5 {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.Card .date {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: #ffffff;
    background-color: #d90368;
    box-shadow: -2px -2px 4px #d65f96;
    border-radius: 0.5rem;
    padding: 0 1rem;
    font-size: 1.1rem;
    font-weight: 600;
}

.Card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 0.5rem 0;
}

.Card .category {
    font-weight: 500;
    color: #e9a6c5;
    display: block;
    text-align: center;
    margin-top: -1rem;
}

.Card .price {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    color: #ffffff;
    background-color: #d90368;
    box-shadow: -2px -2px 4px #d65f96;
    border-radius: 0.5rem;
    padding: 0 1rem;
    font-size: 1.1rem;
    font-weight: 600;
}



.Card a {
    background-color: #df6da3;
    color: antiquewhite;
    transition: all 0.3s;
    text-decoration: none;
    padding: 0 1rem;
    border-radius: 0.5rem;
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    font-size: 1.1rem;
}

a:hover ,
.contant input[type="submit"]:hover {
    background-color: #d90368;
    transform: scale(1.2);
}



.container-fluid,
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

i {
    font-size: 1.4rem;
    font-weight: 500;
    text-shadow: 0px 1px 1px #5e5e5ea9;
    color: antiquewhite;
}

button {
    border: none;
    background: none;
}

button:hover {
    transform: scale(1.2);
}

footer {
    width: 100%;
    background-color: #d90368;
    color: antiquewhite;
    padding: 1rem;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.social button {
    width: 3rem;
    height: 3rem;
    border: 2px solid antiquewhite;
    border-radius: 100%;
    text-align: center;
    color: antiquewhite;
}

.contant {
    width: 60%;

}

.contant input,
.contant textarea {
    display: block;
    border: 1px solid gray;
    border-radius: 0.5rem;
    width: 100%;
    padding: .5rem;
    margin-bottom: .5rem;
}

.contant input[type="submit"] {
    width: 10rem;
    float: right;
    margin: 1rem;
}

table {
    border-collapse: separate;
    margin: auto;
}

thead th {
    background-color: #e4abc6;
    border-bottom: 2px solid black;
}

table,
td,
th {
    border: 1px solid gray !important;
    padding: 1rem;
}



/* Mediaquerie */

@media (max-width: 900px) {
    nav li {
        margin: 0 auto;
    }

    .contant {
        width: 80%;
    }


}

@media (max-width: 750px) {
    nav {
        align-items: start;
        height: auto;
        transition: all 0.5s;
    }

    nav ul,
    nav li {
        display: block;
        text-align: right;
        margin: 1rem;
    }

    nav a {
        width: 100%;
    }

    #menu {
        display: block;
    }

    nav #menu i.bi-x-lg {
        display: none;
    }

    nav ul.menu-visible {
        display: none;
    }

    .contant {
        width: 90%;
    }


    footer {
        display: block;
        justify-content: center;
        text-align: center;
    }

    .social {
        margin: 1rem;
    }

}


.fade-in {
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}